*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100dvh;
  background-image: linear-gradient(
    to left,
    rgb(37, 199, 199),
    rgb(107, 189, 189),
    rgb(231, 222, 222)
  );
  color: #333;
  font-family: sans-serif;
  
}

.search {
  width: 24px;
  height: 24px;
}
.formulaire h1{
  font-size: 2.5rem;
    margin-right: 150px;
}
.formulaire {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap:20px;
  margin-top: 20px;
  padding: 10px;
}
input {
  width: 265px;
  height: 40px;
  border-radius: 8px;
  padding: 8px;
  border: none;
  color: #333;
  font-size: 15px;
  outline: none;
  text-transform: capitalize;
}
input::placeholder {
  font-size: 15px;
}
button {
  cursor: pointer;
  background: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 999px;
  outline:none;
  padding :6px;
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.carte {
  width: 1000px;
  height: auto;
  /* background: rgba(9, 86, 119, 0.664); */
  background: rgba(128, 128, 128, 0.253);
  backdrop-filter: blur(18px);
  margin: 30px auto;
  color: #1b1b1be5;
  border-radius: 20px;
  box-shadow: 10px 10px 40px #333;
  display: grid;
  padding: 18px ;
  grid-template:50px 1fr /repeat(2, 480px);
  gap: 15px;
  opacity: 0;
 
}

.gauche {
  grid-area: 2/1/-2/2;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}
.carte h2 {
  font-size: 40px;
  grid-area: 1/1/1/-1;
  text-align: center;
}

.titre {
 margin-left: 45px;
  font-size: 28px;
}

.temp {
  
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.temp p{
font-size: 80px;
}
.temp img {
  width: 150px;
  height: 150px;
}
.tm {
  font-size: 20px;
  
  /* margin-left: 30px; */
}
span:first-child {
  color: rgb(0, 88, 0);
}
span:last-child {
  color: rgb(156, 0, 0);
}
.droite {
  grid-area: 2/2/-1/-1;
  display: grid;
  align-items: center;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  font-size: 18px;
}
@media screen and (max-width:1200px) {
 .titre{
  font-size: 28px;
 }
 .carte{
  width: 830px;
  grid-template:50px 1fr /repeat(2, 400px);
 }

  
}
@media screen and (max-width:860px) {
  .carte{
    width: 610px;
    grid-template:50px 1fr /repeat(2, 280px);
  }
  .formulaire{
    display: grid;
  }
  .formulaire h1{
    margin: 0;
    font-size: 3rem;
  }
  input{
    width: 360px;
  }
  
}
@media screen and (max-width:640px) {
  .carte{
    grid-template:50px 1fr 1fr/ 1fr;
    width: 380px;
    gap: 20px;
  }
  
  .carte h2{
    grid-area: 1/1/2/-1;
  }
  .gauche{
    grid-area:2/1/3/-1 ;
  }
  .droite{
    
    grid-area: 3/1/-1/-1;
    border-top:2px solid #333;
  }
  input{
    width: 265px;
  }
 
}
@media screen and (max-width:390px) {
  .carte{
    width: 320px;
  }
  .droite {
    font-size: 18px ;
  }
}
.loader{
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.loader.active{
  opacity:1;
}
.carte.active{
   transition: opacity 1s ease-out;
   opacity: 1;
}
.j{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
}
footer{
    text-align:center;
}